<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" isELIgnored="false" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>

</head>
<body>

<div class="main-div">

<form th:action="@{/login}"  method="post">
    <div th:if="${param.error != null}">
       <h1 style="color: red">Invalid Credentials</h1>
    </div>
    <div class="div1">
        <h1>Sign in</h1>
    </div>

    <div class="div2" >
        <input type="text" name="username"   placeholder="Enter your email/Mobile number" id="signin-email" required><br>
        <input type="password" name="password"  placeholder="Enter your password" id="signin-password" required>
    </div>
    <div class="div3">

        <button>LOGIN</button>
        <a href="/signup">Need an account?</a>
<!--        <a href="/forgot">Forgot password?</a>-->

    </div>
</form>
    <form th:action="@{/signin/facebook}" method="POST">
        <input type="hidden" name="scope" value="public_profile" />
        <input type="submit" value="Login using Facebook" class="btn btn-primary" />
    </form>
</div>
</body>
</html>